
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./about.component.css">
</head>
<body>
    <div style="background-color:bisque;height:20%">
    
    <div class="d1" style="background-color:aqua;height:500px;">
        <h2 style="color:red;margin: 20px;">About Myntra</h2>
        <p style="color:blue;font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;"> One of the toppest online flatform in India</p>
        
        <ul type="circle" style="color:blue">
            <img src="/assets/about.jpg" width="300px"style="float:right;">
            <li><p style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Myntra is India’s leading e-commerce company committed to making fashion and lifestyle products accessible to everyone. </p></li>
            <li><p style="color:orangered;font-size: 17px;font-family:Arial, Helvetica, sans-serif"> We create solutions that disrupt the ordinary and help make the world a happier, more fashionable place.</p></li>

            <li><p style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif"> We are a company that is constantly evolving into newer and better forms and we look for people who are ready to evolve with us.</p></li>
            <li><p style="color:orangered;font-size: 17px;font-family:Arial, Helvetica, sans-serif">  From our beginnings as a customization company in 2007 to being technology and fashion pioneers today, Myntra is going places and we want you to take this journey with us.</p></li>
            <li><p style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif;">As self-driven, motivated individuals who believe in taking ownership instead of being handed responsibility, we are a curiously non-hierarchical team who believe in working as a whole to take the Organization forward.</p></li>

                <li><p style="color:orangered;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Firm believers of meritocracy, we encourage you to take on tasks and readily empower you with the right tools, space, and opportunities.</p> </li>
                <li><p style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif"> In essence, work at Myntra is challenging but fun - we believe in equal opportunity, encourage intellectual curiosity and empower you to be the change.</p></li>
         
                <li><p style="color:orangered;font-size: 17px;font-family:Arial, Helvetica, sans-serif"> If you’re just  as passionate about fashion and would love a workplace that is purely result-driven, Myntra is the place for you!</p></li>
         
                <li><p style="color:blue;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Check out open jobs on <a href="https://boards.greenhouse.io/myntra">click</a></p></li>
 
         
        </ul>
</div>
</div>

              </body>
              </html>