<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="contact1" style="background-color:bisque ;">
              <h1 style="text-align:center">CONTACT</h1>
              <img src="/assets/contact.jpg" alt="" style="height:200px;width:200px;float:right">
            </div>
            <h2 style="color:darkblue">Coperate offices</h2>
            <div class="contact2" style="background-color:aqua; width: 100%;">
              <p  style="margin: 20px;padding:20px">Bengaluru<br>
          
                Buildings Alyssa, Begonia and Clover situated in Embassy Tech Village, <br>Outer Ring Road, Devarabeesanahalli Village,<br> Varthur Hobli, Bengaluru – 560103, India</p>
            </div>
            <h2 style="color:darkblue">Coporate offices</h2>
            <div class="contact3" style="background-color:skyblue;width:100%;">
               <p style="margin:20px;padding: 20px;">Gurugram
                Plot No. 82A, Sector 18, Gurugram, Haryana - 122015</p> 
                
            </div>
            <h2 style="color:darkblue">coporate offices</h2>
            <div class="contact4" style="background-color:aqua ;width:100%;">
                <p style="margin:20px;padding: 20px;">Mumbai<br> WeWork Spectrum, 307, Chincholi Bunder Road, Malad, Rajan Pada, Mindspace, <br>Malad West, Mumbai, Maharashtra 400064
</p>
            </div>
           <div>
               <h2 style="color:blue">Customer service</h2>
               <div class="contact5" style="background-color:aqua ;width:100%;">
                <p style="margin:20px;padding: 20px;">
                    <a href="https://www.myntra.com/">myntra</a><br>
                    <a href="tel:080-6156 1999">080-6156 1999</a>

            </div>
           </div>
        </div>
    </body>
</html>
