<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./offer.component.css">
</head>
<body>
    <div class="container">
        <h3 style="text-align:center;color: aquamarine;">OFFERS</h3>
        <ul type="circle">
            <li>50% offer for womens wear</li>
            <li>20% offer for mens wear</li>
            <li>
                10% offer for toys
            </li>
        </ul>
    </div>
</body>
</html>

