<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./product.component.css">
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">PRODUCTS </h2>
        <div class="left">
            <h2 style="font-size: larger; color:blue; text-align: center;"> MENS</h2>
            
             <h2 style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif">one8 x PUMA</h2>
                 <img src="/assets/men.jpg" width="75px">
                <h4>PRODUCT DETAILS</h4>
                Green Tshirt for men
                Solid
                Regular length
                Polo collar
                Short, regular sleeves
                Knitted cotton fabric
                Button closure
                    
                   <h4> Size & Fit</h4>
                   
                   Regular Fit
Size worn by the model: M
Chest: 34"
Height: 5'8"
                    
                  <h4>Material & Care</h4>  
                  60% cotton 40% polyester
                  

        </div>
       
        <div class="middle1">
            <h2 style="font-size: larger; color:blue; text-align: center;">WOMENS</h2>
             <h2 style="color:black;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Black printed Kurta with Palazzos with dupatta</h2>
                 <img src="/assets/women.jpg" width="75px">
                <h4>Kurta design:</h4>
                    Ethnic motifs printed
                    Anarkali shape
                    Regular style
                    Mandarin collar, three-quarter regular sleeves
                    Calf length with flared hem
                    Viscose rayon machine weave fabric
                    
                   <h4> Palazzos design:</h4>
                    Printed Palazzos
                    Elasticated waistband
                    Slip-on closure
                    
                  <h4>Size & Fit</h4>  
                    Dupatta Length 2.43 meters Width: 88 cm
                    The model (height 5'8) is wearing a size S
                    
                    <h4>Material & Care</h4>
                    100% Rayon
                    Machine wash

        </div>
        <div class="middle2">
            <h2 style="font-size: larger; color:blue; text-align: center;">KIDS</h2>
            <h2 style="color:#000000;font-size: 17px;font-family:Arial, Helvetica, sans-serif">DearJoy</h2>
                 <img src="/assets/kids.jpg" width="75px">
                <h4>PRODUCT DETAILS </h4> 
Type: Soft toys
Suitable age: 6 months plus
Colour: Blue
Add-Ons: NA
Battery Type: NA
Operation mode: Manual
Filling: Microfiber


<h4>Size & Fit</h4>
Box dimension: 36 cm x 17 cm (Height x Width)
Toy dimension: 45 cm x 36 cm (Height x Width)
Weight: 800 g


<h4>Material & Care</h4>
Cotton
Hand wash
              

        </div>
        
        <div class="middle">
            <h2 style="font-size: larger; color:blue; text-align: center;">HOME APPLIACNES</h2>
            <h2 style="color:#000000;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Beige Triangle Macrame Wall Hanging Shelf</h2>
            <img src="/assets/home.jpg" width="75px">
            <h4>PRODUCT DETAILS </h4>
Set content: Macrame wall hanging shelf
Colour: beige
Material: wood & cotton

<h4>Size & Fit</h4>
Height: 71 cm
Width: 40 cm
Depth: 12 cm

<h4>Material & Care</h4>
Wood and cotton
Wipe it with soft, clean and damp cloth to remove dirt or stain
         
        </div>
      
        
        <div class="right">
            <h2 style="font-size: larger; color:blue; text-align: center;"> ELECTRONIC GADGET</h2>
            <h2 style="color:#000000;font-size: 17px;font-family:Arial, Helvetica, sans-serif">Electric Hair Curler - Black HC700
            </h2>
            <img src="/assets/electronic.jpg" width="75px">
            <h4>PRODUCT DETAILS </h4>
Electric Hair Curler HC700
Warranty: 2 years
Warranty provided by brand/ manufacturer

<h4>Specifications</h4>
<p>Type</p>
Straightener and Curling

<h4>Air Setting</h4>
Hot
        </div>
    </div>