



<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="./home.component.css">
</head>
<body>
    <div class="container">
        <div class="heading"><h1 style="color:rgb(112, 216, 138); text-align:center">Myntra</h1></div>
        <div class="sidebar-left">
            <div style="text-align: center;">
                <img src="/assets/myntra.jpg" width="200px">

            </div>
           
            <h3>Myntra is a major Indian fashion e-commerce company headquartered in Bengaluru, Karnataka, India</h3>
                    <h3>The company was founded in 2007 to sell personalized gift items. In May 2014, Myntra.com was acquired by Flipkart </h3>
                <h3> Myntra is India’s leading e-commerce company committed to making fashion and lifestyle products accessible to everyone. We create solutions that disrupt the ordinary and help make the world a happier, more fashionable place.</h3>
            
            
        </div>
       
    </div>
</body>
</html>